body{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 210px auto 70px;
    grid-template-areas:
    "header"
    "content"
    "footer";
}

#top{
    grid-area: header;
}

#content{
    grid-area: content;
}

footer{
    grid-area: footer;
}

table {
    margin-left:auto;
    margin-right:auto;
}

table, td, th {
    border-collapse : collapse;
    border : none;

}

h1{
    padding-bottom:20px;
}
thead{
    border-top : solid 0.5px navy;
}

td{
    border-bottom : solid 0.5px navy;
    width : 180px;
    height:50px;
}