/* 본명조 - nav 적용 */
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 130px 80px 571px 660px 100px;
    grid-template-areas:
    "header"
    "nav"
    "one"
    "two"
    "footer";
}

haeder{
    grid-area: header;
    background-color: lightpink;
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
}

#nav{
    grid-area: nav;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'NotoSerifKR';
    font-size: 1.2em;

    background-color: navy;
    color: white;


}

.slide{
    grid-area: one;
}

#last{
    grid-area: two;

    display: grid;
    grid-template-columns: 780px auto;
    grid-template-areas:
    "todo schedule";
}

#todo{
    grid-area: todo;
}

#schedule{
    grid-area: schedule;
    background-color: beige;

    margin: 0;
    padding: 0;
    width: 900px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid ;
    border-left: 1px solid ;
}
#schedule div{
    font-size: 0.8em;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid ;
    border-bottom: 1px solid ;
    width:149px;
    height: 39px;
}

/* 여기부터 이미지 슬라이드 */
.slides>input[name=ra] {
    display: none;
}

.sl {
    display: none;
}

.sl:nth-of-type(1) {
    display: block;
}

.sl>img {

    align-items: center;
    justify-content: center;
    width: 35%;
}

.slides{
    grid-area: images;
}
.page {
    text-align: center;
    grid-area: page;
}

.page>label {
    cursor: pointer;
}

#ra02:checked~.sl:nth-of-type(1) {
    display: none;
}

#ra02:checked~.sl:nth-of-type(2) {
    display: block;
}

#ra03:checked~.sl:nth-of-type(1) {
    display: none;
}

#ra03:checked~.sl:nth-of-type(3) {
    display: block;
}

/* 여기까지 이미지 슬라이드 */

