body{
    margin : 0;
    padding : 0;
    font-family: 'MICEMyungjo';
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 210px auto 84px;
    grid-template-areas:
    "header header"
    "aside content"
    "footer footer";
}

#top{
    grid-area: header;
}

aside{
    grid-area: aside;
    border-right: solid 2px navy;
    background: lightcyan;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
aside a{
    margin-top: 30px;
}

section{
    padding-left : 50px;
    text-align:left;
    grid-area: content;

}

section div{
    font-size: 1.3em;
    margin : 20px auto;
}

section button{
    padding : 10px 30px;

}